<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fabm -->
      <package
            uri="http://www.inria.fr/fabmodeling/fabm"
            class="fr.inria.fabmodeling.fabm.model.fabm.FabmPackage"
            genModel="model/fabm.genmodel"/>
   </extension>

</plugin>
